.field-validation-error,
label.error{
    color: red;
}

.input-validation-error,
input.error{
    border: 2px solid red;
}

.validation-summary-errors{
    color:red;
}

.margintop15{
    margin-top: 15px;
}


/* The Modal (background) */
.mymodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.mymodal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

textarea#SendMessage_TextMessage
{
    vertical-align: middle;
}

.wrapword{
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
}



#overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #000;
filter:alpha(opacity=70);
-moz-opacity:0.7;
-khtml-opacity: 0.7;
opacity: 0.7;
z-index: 100;
display: none;
}
.cnt223 a{
text-decoration: none;
}
.popup{
width: 100%;
margin: 0 auto;
display: none;
position: fixed;
z-index: 101;
}
.cnt223{
min-width: 600px;
width: 600px;
min-height: 110px;
margin: 100px auto;
background: #f3f3f3;
position: relative;
z-index: 103;
padding: 10px;
border-radius: 5px;
box-shadow: 0 2px 5px #000;
}
.cnt223 p{
clear: both;
color: #555555;
text-align: justify;
}
.cnt223 p a{
color: #d91900;
font-weight: bold;
}
.cnt223 .x{
float: right;
height: 35px;
left: 22px;
position: relative;
top: -25px;
width: 34px;
}
.cnt223 .x:hover{
cursor: pointer;
}

.capatcha {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.g-recaptcha {
    display: inline-block;
}

ul.dropdown-menu {
    margin-right: 20px;
}

a.btn.btn-default.btn-flat {
    margin-right: 14px;
}

.radio label, .checkbox label{
    font-weight: bold;
}

.content-header.clearfix.border-top {
    border-top: 2px solid #222d32;
    padding-bottom: 15px;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: left;
    }
}
@media (max-width: 768px) {
    th {
        font-size: 10px;
        overflow: hidden;
    }

    a.btn.btn-success, button.btn.btn-danger {
        width: 10%;
        overflow: hidden;
        float: left;
    }

    .pull-left, .pull-left .btn,
    .pull-right, .pull-right .btn  {
        float: left;
        width: 100%!important;
        margin-bottom:4px;
    }
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0px;
}

textarea#SendMessage_TextMessage {
    width: 100%;
}

#popup {
width: 100%;
height: 100%;
position: fixed;
background: rgba(0,0,0,.7);
top: 0;
left: 0;
z-index: 9999;
visibility: visible;
}

.window {
width: 400px;
height: 450px;
background: #fff;
border-radius: 10px;
position: relative;
padding: 10px;
box-shadow: 0 0 5px rgba(0,0,0,.4);
text-align: center;
margin: 15% auto;
}

.close-button {
width: 20px;
height: 20px;
background: #000;
border-radius: 50%;
border: 3px solid #fff;
display: block;
text-align: center;
color: #fff;
text-decoration: none;
position: absolute;
top: -10px;
right: -10px;
}

img.loadimg {
    height: 250px;
}